@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Eczar:wght@400;600;700;800&display=swap')
@import reset.sass
@import main.sass

*
    font-family: 'Dancing Script', cursive
    font-family: 'Eczar', serif

.main
    position: relative
    background: url('../img/main.jpeg') center (center/cover) no-repeat
    width: 100vw
    height: 100vh
.main__logo
    position: absolute
    margin: 0 auto
    padding-top:420px
.menu
    position: absolute
    top: 0px
    right: 60px
.list
    display: grid
    grid-template-columns: repeat(7, 40px)
    gap: 60px
    &__item
        font-family: 'Eczar', serif
        font-size:18px
        font-weight: 400
        text-transform: uppercase
        border: 1px solid #fff
        width: 95px
        height: 30px
        border-radius: 0 0 10px 10px
        text-align: center
        top: 0
        left: 20px   
        border: 1px solid #999696
        border-top: none
        width: 95px
        border-radius: 0 0 10px 10px
        text-align: center
        text-shadow: 3px 3px 3px #000000
        &:hover
            text-transform: uppercase
            height: 50px
            font-size: 20px
            display: block
            padding-top: 20px
            transition: 0.2s ease-in        
            background: rgba(49, 217, 247, 0.2)
a
    text-decoration: none
    color: #999696
    font-family: 'Eczar', serif
    font-weight: 400
    
.bio 
    position: relative
    background: linear-gradient(90deg, rgba(19,37,43,1) 0%, rgba(62,86,106,1) 50%, rgba(42,63,77,1) 100%)
    width: 100vw
    height: 100vh
.music
    position: relative
    background: linear-gradient(90deg, rgba(19,37,43,1) 0%, rgba(62,86,106,1) 50%, rgba(42,63,77,1) 100%)
    width: 100vw
    height: 100vh
.footer
    position: absolute
    bottom: 0px
    background: rgba(0, 0, 0, 0.2)
    height: 50px
    width: 100vw
    &__media
        display: flex
        justify-content: space-around
        width: 100vw
        align-items: center
        padding-top: 15px
    &__official
        font-size: 20px
        font-family: 'Eczar', serif
        font-weight: 400        
    &__copy
        font-size: 16px
        font-family: 'Eczar', serif
        font-weight: 400 
        color: #999696
    &__links
        display: flex
.links__icons > * + *
    margin-left: 18px

.showcase__title
    text-align: center
    

/*showcase*/

.showcase
    min-height: 800px
    padding: 100px 0 50px
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3) inset
    height: 100vh
    
#impress
  &:not(.impress-not-supported) .step
    opacity: 0.9

.step
    width: 900px
    height: 700px
    position: relative
    margin: 0 auto
    -moz-transition: 1s opacity
    -webkit-transition: 1s opacity
    transition: 1s opacity
    &.active
        opacity: 1
    &__title
        font: normal 80px/1.5 'Dancing Script', cursive
        color: #999696
        text-shadow: 5px 5px 1px #000000
        position: absolute
        z-index: 10
        left:510px
        top: 530px
    &__title-band
        left: 300px
        top: 525px
    &__text
        font: normal 18px/1.3 'Eczar', serif
        color: #999696
        text-shadow: 2px 2px 1px #000000
        position: absolute
        z-index: 10
        left: -200px
        text-indent: 16px
        top: 55px
        width: 650px
    &__text-band
        width: 450px
    &__img
        position: absolute
        z-index: 1
        right: -200px
        top: 35px
    

.arrow
    width: 32px
    height: 54px
    background: url('../img/arrows.png') no-repeat
    position: fixed
    top: 50%
    margin-top: -27px
    cursor: pointer
    text-indent: -9999px
    overflow: hidden
    opacity: 0.8
    border: none !important
    text-decoration: none !important
    -moz-transition: 0.2s opacity
    -webkit-transition: 0.2s opacity
    transition: 0.2s opacity
    &:hover
        opacity: 1

#arrowLeft
    left: 45px

#arrowRight
    right: 45px
    background-position: top right

#impress
    &.impress-not-supported + .arrow
        display: none
+ .arrow
    display: none


.album
    display: flex
    justify-content: space-around
    padding-top: 180px
    &__img
        width: 350px
        height: 350px
        &:hover
            box-shadow: 0px 10px 10px #000
        &__1
            background: url("../img/cover_1.jpg") center (center/cover) no-repeat     
        &__2
            background: url("../img/cover_2.jpg") center (center/cover) no-repeat
        &__3
            background: url("../img/cover_3.jpg") center (center/cover) no-repeat
    &__subtitle
        margin-top: 40px
        text-align: center
        font: normal 22px/1.3 'Eczar', serif
        color: #999696
        text-shadow: 2px 2px 1px #000000
